$def with (form)
<html >
    <head>
        <title>Nuevo</title>
        <link href="static/css/nuevo.css" media="screen" rel="StyleSheet" type="text/css">
    <title> Agenda</title>
    </head>

    <body><font size="15px" color= "white">
        <center>
<div class="txt"> Nuevo Registro </div>
        </center>
<form action="" method="post">
    <center>
$:form.render()
    </center>
    <center>
<input id="boton" type="submit" value="Guardar" />
    </center>
</form>
</font>
    </body>
</html>